
// Datesy Fonts

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Lora&display=swap');
$base-font: "Lora", "serif";
$header-font: "Libre Franklin", "sans-serif";

$base-size: 16px;
$base-height: 1.4;

// Datesy Colors

$pink: #FCBDE5;
$blue: #3727BA;
$dark-green: #1B5457;
$light-green: #E9F6BF;
$teal: #C8D9DA;
$off-white: #FFFFF4;
$off-black: #323232;
