<div class="container">
  <h1>Choose Your Friend</h1>
  <br>
  <% current_user.friends.each do |friend| %>
    <p>
      <%= link_to friend.name, new_user_friend_match_path(friend), class: "large_button" %>
    </p>
  <% end %>
</div>
