<div class="container">
  <h1>Friends</h1>
  <br>
  <% current_user.friends.each do |friend| %>
    <p>
      <%= friend.name %>
      <%= link_to 'Match for this fella!', new_user_friend_match_path(friend) %>
    </p>
  <% end %>
</div>
