<div class="add-to-calendar-container">
  <br><br>
  <h3>Add This Date to Your Calendar</h3>
    <div class="add-to-calendar-options">
        <%= link_to "<i class='fab fa-google'></i>".html_safe, "user_redirect_path", class: "large_button" %>
        <%= link_to "<i class='fab fa-apple'></i>".html_safe, "user_redirect_path", class: "large_button" %>
        <%= link_to "<i class='fab fa-microsoft'></i>".html_safe, "user_redirect_path", class: "large_button" %>
        <%= link_to "<i class='fab fa-yahoo'></i>".html_safe, "user_redirect_path", class: "large_button" %>
    </div>
  </div>
