<h3>ADD THE EVENT TO YOUR CALENDAR</h3>
  <div class="container">
    <div class="row justify-content-center">
      <ul>
        <li><button class="btn-flat">ICAL</button></li>
        <li><%= link_to "Google calendar", "user_redirect_path", class: "button" %></li>
        <li><button>Outlook</button></li>
        <li><button>Yahoo</button></li>
      </ul>
    </div>
  </div>
