<!-- This card receives a matchee (User) from MatchesController#new -->
<p class="card-name"><strong><%= matchee.name %></strong></p>
<p class="card-text"> <%= matchee.description %></p>
<p class="card-age"><%= matchee.age %> years old</p>
