<div class="col-sm-6">
  <div class="card">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="Matchee">
      <div class="card-body">
        <p class="card-name">Matchee Name</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
</div>
