<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My friends
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="user_show_path(current_user)"><%= current_user.email  %></a>
    <a class="dropdown-item" href="#">Joao</a>
    <a class="dropdown-item" href="#">Maria</a>
  </div>
</div>
