<div class="navbar">
  <div class="navbar-links">
    <a href="/"><i id="icon" class="fas fa-home fa-1.5x"></i></a>
  </div>
  <img src="https://i.imgur.com/ZVnLKhq.jpg" width="100" />
  <div class="navbar-profile">
    <a href="/"><i id="icon" class="fas fa-users fa-1.5x"></i></i></a>
  </div>
</div>
