<div class="dropdown">
  <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Switch Friend
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href=""><%= render "shared/small_avatar" %>Kamrin Klauschie</a>
    <a class="dropdown-item" href="#"><%= render "shared/small_avatar" %>Luis Frade</a>
    <a class="dropdown-item" href="#"><%= render "shared/small_avatar" %>Camille de Bernis </a>
  </div>
</div>
