<div class="container">
  <h2>Select a day from the below</h1>

  <h3> Location: <%= @match.friend.location %> </h2>
  <%= simple_form_for [@match, @date], url: user_match_dates_path(@match) do |f| %>
    <%= f.input :start_at,
                as: :radio_buttons,
                collection: humanize_date_collection(@match.friend.available_times_this_week) %>
    <%= f.submit 'Schedule this date now', class: "day-button" %>
  <% end %>
</div>
