<h1>User::Dashboards#show</h1>
<p>Find me in app/views/user/dashboards/show.html.erb</p>
<p><%= link_to 'Match friends', user_friends_path %></p>
<p><%= link_to 'My Matches', user_matches_path %></p>
