<div class="dashboard-container">
  <p><%= render "shared/medium_avatar" %></p>
  <br>
  <%= link_to 'My Matches', user_matches_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to "Start Matching", user_friends_path, class: "large_button" %>
  <br>
  <br>
  <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "large_button") %>
  </div>
