<input type="hidden" name="availability_thursday[times][]" value="">
<label class="checkbox-switch">
  <div class="checkbox-switch-container" id="button-13">
    <input type="checkbox" class="checkbox" value="<%= value %>" name="availability_<%= weekday %>[times][]">
    <div class="knobs">
      <span></span>
    </div>
    <div class="layer"></div>
  </div>
  <span><%= label %></span>
</label>
