.cards {
  position: relative;
  height: calc(100vh - 72px);
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.25s;

  &.removed {
    transform: translateX(-105%);
  }
}

.card-body {
  background-color: $primary;
  color: $off-white;
  padding: 30px;
}

.card-name {
  font-family: "Libre Franklin", "sans-serif";
  text-transform: uppercase;
  font-size: 20px;
}
