.form-inputs {
  background-color: $off-white;
}

.login-form {
  background-color: $off-white;
}

.login {
  background-color: $off-white;
}

.h2 {
  font-family: $header-font;
  text-transform: uppercase;
}

.availability {
  background-color: #C8D9DA;
  color: $primary;
}

.availability, h1 {
  font-family: $header-font;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.availability, h2 {
  font-size: 14px;
}

.availability, .form-check {
  background-color: $teal;
  color: $primary;
  text-align: center;
  padding: 0px !important;
  width: 100%;
}

.availability-options {
  background-color: $teal;
  color: $primary;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
}

.availability-thursday, .availability-friday, .availability-saturday {
  min-width: 24%;
  max-width: 100%;
  min-height: 5em;
}
