.large_button {
  background-color: #1B5357;
  color: #FFFFF4;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 16px;
  box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
}

.large_button:active {
  color: #FFFFF4;
  opacity: 1;
  text-decoration: none;
}

.day-button {
  background-color: #1B5357;
  color: #FFFFF4;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 16px;
}

.day-button:active {
  color: #FFFFF4;
  opacity: 1;
  text-decoration: none;
}
