.matchmaker_type_button {
  color: $primary !important;
  padding: 8px 16px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 10px;
  float: right;
}
