#matchmaker-button {
  background-color: #e9F6BF;
  color: $primary;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 10px;
}
